<section>
    <a href="/profile/{{id}}"></a>
              <div class="row">
                <h2>GAME Title: {{game_title}}</h2>
                <input type="text" id="reviewTitle" formControlName="Review" name="Review" required minlength="3">
             </div>
              <div class="rate">
                <h2>Rate: </h2>
                <p>{{rate}}</p>
              <div class="row">
                <h2>Review: </h2>
                <p>{{comment}}</p>
              </div>
</section>