<Section>
  <div class="container is-flex justify-content-center mt-5" id="formWrapper">
    <form id="form">
      <p class="column">
        <div class="box has-background-light">
          <label class="label" for="email">EMAIL: </label>
          <input
            class="placeholderText"
            type="email"
            id="emailInput"
            name="email"
            placeholder="SOMETHING@EMAIL.COM"
            size="40"
          /><br /><br />
        </div>
      </p>

      <p class="card">
        <div class="box has-background-light">
          <label class="label" for="username">USERNAME:</label>
          <input
            class="placeholderText"
            type="text"
            id="usernameInput"
            name="username"
            placeholder="M@STERGAM3R99"
          /><br /><br />
        </div>
      </p>

      <p class="card">
        <div class="box has-background-light">
          <label class="label" for="pwd">PASSWORD:</label>
          <input
            type="password"
            id="passwordInput"
            name="password"
            placeholder="********"
          /><br /><br />
        </div>
      </p>
      <p class="card">
        <div class="box has-background-light">
          <input
            class="button is-primary"
            type="submit"
            id="submitButton"
            value="Submit"
          />
        </div>
      </p>

    </form>

  </div>

</Section>
<script src="./javascript/createprofile.js"></script>