      <div class="hero-body">
        <div class="container has-text-centered">
            <form class="box" id="form" >
                <div class="field">
                  <label class="label">Username</label>
                  <div class="control">
                    <input  id="username" class="input" placeholder="Username.." style="width:34%">
                  </div>
                </div>
              
                <div class="field">
                  <label class="label">Password</label>
                  <div  class="control">
                    <input id="password" class="input" type="password" style="width:37%" placeholder="********">
                  </div>
                </div>
              
                <button class="button is-primary">Sign in</button>
              </form>
          
        </div>
      </div>