{{> header}}

{{!-- Home --}}
    <div id="home" class="header_hero bg-gray relative z-10 overflow-hidden lg:flex items-center">
        <div class="container">
                <div class="row">
                    <div class="w-full lg:w-1/2">
                        <div class="header_hero_content pt-150 lg:pt-0">
                            <h2 class="hero_title text-2xl sm:text-4xl md:text-5xl lg:text-4xl xl:text-5xl font-extrabold">Adrian <span class="text-theme-color">M</span></h2>
                            <p class="mt-8 lg:mr-8">.</p>
                            <div class="hero_btn mt-10">
                                <a class="main-btn" href="#0">Get Started</a>
                            </div>
                        </div> <!-- header hero content -->
                    </div>
                </div> <!-- row -->
        </div> <!-- container -->
            <div class="lg:block"></div>

            <div class="header_image flex items-center">
                <div class="image 2xl:pl-25">
                    <img src="/.jpg" alt="Header Image">
                </div>
            </div> <!-- header image -->
    </div> <!-- header hero -->


{{> contact }}

{{> footer }}